.home {
	text-align: center;
}

.home img {
	padding: 1.5rem;
}

.home img:hover {
	filter: drop-shadow(0 0 3rem #673ab888);
}

.home section {
	margin-top: 10rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 1.5rem;
}

@media (max-width: 639px) {
	.home section {
		margin-top: 5rem;
		grid-template-columns: 1fr;
		row-gap: 1rem;
	}
}

.resource {
	padding: 0.75rem 1.5rem;
	border-radius: 0.5rem;
	text-align: left;
	text-decoration: none;
	color: #000;
	background-color: #f1f1f1;
	border: 1px solid transparent;
}

.resource:hover {
	border: 1px solid #000;
	box-shadow: 0 25px 50px -12px #673ab888;
}

@media (prefers-color-scheme: dark) {
	.resource {
		color: #fff;
		background-color: #181818;
	}
	.resource:hover {
		border: 1px solid #bbb;
		box-shadow: 0 25px 50px -12px #673ab888;
	}
}




:root {
	--light-gray: #b0bec5;
	--gray: #37474f;
	--primary: #651fff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	color: var(--gray);
}

.wrapper {
	display: grid;
	grid-template-columns: minmax(250px, 300px);
	justify-content: center;
	gap: 2rem;
	margin: 2rem;
}

.container {
	box-shadow: 0rem 0.125rem 0.5rem 0rem var(--light-gray);
	text-align: center;
	border-radius: 1rem;
	position: relative;
	overflow: hidden;
}

.banner-image {
	position: absolute;
	background-image: url(https://picsum.photos/500/400);
	height: 10rem;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.profile-image {
	width: 8rem;
	clip-path: circle(60px at center);
	margin-top: 5.5rem;
	transition: all 0.5s ease 0;
}

.profile-image:hover {
	filter: grayscale(1);
}

.name {
	font-size: 1.5rem;
}

.description {
	margin: 1rem 2rem;
	font-size: 0.9rem;
}

.btn {
	width: 100%;
	border: none;
	font-size: 1rem;
	font-weight: bold;
	color: white;
	background-color: var(--primary);
	padding: 1rem;
	cursor: pointer;
}

@media screen and (min-width: 650px) {
	.wrapper {
		 grid-template-columns: repeat(2, minmax(250px, 300px));
	}
}

@media screen and (min-width: 960px) {
	.wrapper {
		 grid-template-columns: repeat(3, minmax(250px, 300px));
	}
}

@media screen and (min-width: 1200px) {
	.wrapper {
		 grid-template-columns: repeat(4, minmax(250px, 300px));
	}
}

@media screen and (min-width: 1400px) {
	.wrapper {
		 grid-template-columns: repeat(5, minmax(250px, 300px));
	}
}
